POSTGRES_PASSWORD=replace-me
QLMED_API_KEY=replace-me
EVOLUTION_API_KEY=replace-me
EVOLUTION_POSTGRES_PASSWORD=replace-me
EVOLUTION_POSTGRES_DB=evolution
EVOLUTION_SERVER_URL=https://evolution.qlmed.com.br
EVOLUTION_PORT=8085
